.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 13px;
  }
  
  .input {
    background: #222;
    background: linear-gradient(#333, #222);
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 2px 0 #000;
    color: red;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    text-shadow: 0 -1px 0 #000;
    width: 300px;
  
    line-height: 40px;
  }
  
  .input::-webkit-input-placeholder {
    color: red;
  }
  
  .input:-moz-placeholder {
    color: red;
  }
  
  .input:focus {
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: linear-gradient(#333933, #222922);
    border-color: red;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1),
      0 2px 0 #000;
    color: red;
    outline: none;
  }
  
  .input:focus::-webkit-input-placeholder {
    color: red;
  }
  
  .input:focus:-moz-placeholder {
    color: red;
  }
  
  @keyframes glow {
    0% {
      border-color: red;
      box-shadow: 0 0 5px rgb(255, 0, 30), inset 0 0 5px rgba(255, 0, 60, 0.986),
        0 2px 0 #000;
    }
    100% {
      border-color: red;
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.965),
        inset 0 0 10px rgb(255, 0, 0), 0 2px 0 #000;
    }
  }
  
  .button {
    background: #222;
    background: linear-gradient(#333, #222);
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 2px 0 #000;
    color: red;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 0 -1px 0 #000;
    width: 100px;
  }
  
  .button:hover,
  .button:focus {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    color: red;
    outline: none;
  }
  
  .button:active {
    background: #292929;
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
  }
  
 
  