.input {
  margin-bottom: 15px;
  padding-left: 10px;
  width: 80%;
  height: 35px;
  background: linear-gradient(#333, #222);
  outline: none;
  border: 2px solid #515050;
  border-radius: 10px;
  font-size: 18px;
  color: #888;
}

.input::-webkit-input-placeholder {
  color: #888;
}

.input:-moz-placeholder {
  color: #888;
}

.input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: rgb(161, 164, 48);
  box-shadow: 0 0 5px rgba(242, 255, 0, 0.2), inset 0 0 5px rgba(0, 255, 0, 0.1);
  color: #efe;
  outline: none;
}

.input:focus::-webkit-input-placeholder {
  color: #efe;
}

.input:focus:-moz-placeholder {
  color: #efe;
}

@keyframes glow {
  0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(255, 221, 0, 0.471),
      inset 0 0 5px rgba(0, 255, 0, 0.1);
  }
  100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(12, 182, 117, 0.674),
      inset 0 0 10px rgba(12, 182, 117, 0.4);
  }
}
