.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;

  font-size: 20px;
}

.removeButton {
  background: #222;
  background: linear-gradient(#333, #222);
  box-sizing: border-box;
  border: 0px solid rgb(249, 1, 1);
  border-radius: 50%;
  height: 32px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 0;
  position: relative;
  width: 33px;
}

.removeButton:hover,
.removeButton:focus {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  color: red;
  outline: none;
}

.removeButton:active {
  background: #292929;
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}
