.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 22px;
}

.button {
  color: #ffffff;
  background: #3e3d3e;
  margin-right: 15px;
  border: 2px solid #252425;
  border-radius: 10px;
  width: 65px;
  height: 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;

  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #535053;
  border: 2px solid #ed1b1b;
}
